[Desktop Entry]
Version=1.0
Type=Application

Name=Zesty Nes
Comment=An nes emulator
Categories=Game;Emulator;

Icon=zestynes
Exec=zesty-nes
Terminal=false